# Python versions: 2.7, 3.5. 3.6, 3.7, 3.8
# Recomended Python 3.8
contourpy==1.0.5
cycler==0.11.0
fonttools==4.37.4
keyboard==0.13.5
kiwisolver==1.4.4
matplotlib==3.6.1
numpy==1.23.4
opencv-python==4.6.0.66
packaging==21.3
Pillow==9.2.0
pip==22.2.2
pyparsing==3.0.9
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyqtgraph==0.13.1
pyserial==3.5
python-dateutil==2.8.2
setuptools==62.6.0
six==1.16.0
wheel==0.37.1
